## Q1. Credit Transaction data(40 points)

This dataset is simulated individual credit card transactions by one company. Please use this dataset to answer following question. Please notice that you may need to observe the dataset and clean it before answering the following question.

In [38]:
# --> Import statements
import pandas as pd
import re

In [39]:
df = pd.read_csv("res_purchase_2014.csv", low_memory=False) #importing dataset res_purchase_2014.csv
df.head() #displaying top 5 rows

,Year-Month,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,201307,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,GENERAL PURCHASE,890,NACAS,7/30/2013 0:00,7/31/2013 0:00,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS
1,201307,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,ROOM CHARGES,368.96,SHERATON HOTEL,7/30/2013 0:00,7/31/2013 0:00,SHERATON
2,201307,1000,OKLAHOMA STATE UNIVERSITY,Massey,J,GENERAL PURCHASE,165.82,SEARS.COM 9300,7/29/2013 0:00,7/31/2013 0:00,DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...
3,201307,1000,OKLAHOMA STATE UNIVERSITY,Massey,T,GENERAL PURCHASE,96.39,WAL-MART #0137,7/30/2013 0:00,7/31/2013 0:00,"GROCERY STORES,AND SUPERMARKETS"
4,201307,1000,OKLAHOMA STATE UNIVERSITY,Mauro-Herrera,M,HAMMERMILL COPY PLUS COPY EA,125.96,STAPLES DIRECT,7/30/2013 0:00,7/31/2013 0:00,"STATIONERY, OFFICE SUPPLIES, PRINTING AND WRIT..."

### 1. What is total amount spending captured in this dataset?
Hint: you may observe $ in front of the amount, which you need remove it (see.row 12), and () stands for negative value, which you need deduct the amount.

In [50]:
df = df.dropna() #dropping NA values 
new = []
for value in df['Amount']:
    if(type(value) == str):
        value = value.strip()
        
        if(value[0] == '(' and value[-1] == ')'):
            value = str('-' + value[1:-1]) #if value contains () 
            
        if('$' in value): 
            value = value.replace('$', '') #if value contains $
            
        if(re.search('[a-zA-Z]', value)): 
            value = re.sub('[a-zA-Z]', '', value) #if value contains words
            
        value = float(value.strip()) #strip whitespace and convert str to float 
        
    new.append(value)
df['Amount'] =  new

In [41]:
total = df['Amount'].sum() #sum all values 
print("Total Amount spent:",round(total,2)) #round to 2 digit

Total Amount spent: 188040606.23

### 2. How much was spend at WW GRAINGER?
Hint: All ‘WW GRAINGER’ contained in the ‘Vendor’.

In [42]:
count = 0
for i in range(len(df)): 
    if(df['Vendor'][i] == 'WW GRAINGER'): #check for vendor with value WW GRAINGER 
        count = count + df['Amount'][i] #if found then add to count

In [43]:
print("Total Amount spent at WW GRAINGER:",round(count,2)) #round to 2 digit

Total Amount spent at WW GRAINGER: 5089417.48

### 3. How much was spend at WM SUPERCENTER?
Hint: All ‘WM SUPERCENTER’ contained in the ‘Vendor’.

In [44]:
count_sc = 0
for i in range(len(df)): 
    if(df['Vendor'][i] == 'WM SUPERCENTER'): #check for vendor with value WM SUPERCENTER
        count_sc = count_sc + df['Amount'][i] #if found then add to count

In [45]:
print("Total Amount spent at WM SUPERCENTER:",round(count_sc,2))  #round to 2 digit

Total Amount spent at WM SUPERCENTER: 31777.83

### 4. How much was spend at GROCERY STORES?
Hint: All ‘GROCERY STORES’ contained in the ‘Merchant Category Code’.

In [46]:
count_gc = 0
for i in range(len(df)): 
    if('GROCERY STORES' in df['Merchant Category Code (MCC)'][i] ): #check for MCC with value GROCERY STORES
        count_gc = count_gc + df['Amount'][i]

In [47]:
print("Total Amount spent at GROCERY STORES:",round(count_gc,2)) #round to 2 digit

Total Amount spent at GROCERY STORES: 1271339.98

### Final Output

In [49]:
print('Results for Part 1: \n _________________\n')
print("Total Amount spent:",round(total,2)) #round to 2 digit
print("Total Amount spent at WW GRAINGER:",round(count,2)) #round to 2 digit
print("Total Amount spent at WM SUPERCENTER:",round(count_sc,2))  #round to 2 digit
print("Total Amount spent at GROCERY STORES:",round(count_gc,2)) #round to 2 digit

Results for Part 1:
 _________________

Total Amount spent: 188040606.23
Total Amount spent at WW GRAINGER: 5089417.48
Total Amount spent at WM SUPERCENTER: 31777.83
Total Amount spent at GROCERY STORES: 1271339.98