## **1 Print (10pts)**

1. Define a string variable, and print it.

In [ ]:
s = 'string'
print(s)

string

2. Define a string (I’m a student), print it.

In [ ]:
s = "I'm a student"
print(s)

I'm a student

3. Defind a string:
(How do you think of this course?
Describe your feeling of this course)
print it in multiple line

In [ ]:
s = """How do you think of this course?
So far so good
I love it"""
print(s)

How do you think of this course?
So far so good
I love it

## **2 Operator (15pts)**

**Define a = 100, b = 9, calculate following problems**

1. c = a + b, print c out.

In [ ]:
a = 100
b = 9
c = a+b
print(c)

109

2. print the quotient of a/b.

In [ ]:
print(a//b)

11

3. print the integer part of a/b.

In [ ]:
print(int(a/b))

11

4. print the remainder part of a/b

In [ ]:
print(a%b)

1

5. print the result of ’a’ to the power of b.

In [ ]:
print(a**b)

1000000000000000000

6. Using logic operator to return a Boolean value for a unequal to b.

In [ ]:
a!=b

True

7. Using logic operator to return a Boolean value for a greater than b.

In [ ]:
a > b

True

## **3 List Practice (30pts)**

1. Define a list Name it List A), whose items should include integer, float, and
string. Please notice the length of the list should be greater than 5.

In [ ]:
List_A = [2, 3, 4, "hello","world", 1.3,5.33]

2. Using extend and append to add another list(Name it List B) to List A.

In [ ]:
List_B = ['test']
List_A.append(List_B)
print(List_A)

[2, 3, 4, 'hello', 'world', 1.3, 5.33, 'test', ['test']]

In [ ]:
List_A = [2, 3, 4, "hello","world", 1.3,5.33]
List_A.extend(List_B)
List_A

[2, 3, 4, 'hello', 'world', 1.3, 5.33, 'test']

3. Insert a string (’FE520’) to the second place of List A, and delete it after that.

In [ ]:
List_A.insert(1,"FE520")
print(List_A)
List_A.pop(1)
print(List_A)

[2, 'FE520', 3, 4, 'hello', 'world', 1.3, 5.33, 'test']
[2, 3, 4, 'hello', 'world', 1.3, 5.33, 'test']

4. Return and delete the last element in the List A, and print the new list.

In [ ]:
x = List_A.pop()
print(x)
print(List_A)

test
[2, 3, 4, 'hello', 'world', 1.3, 5.33]

5. Return a new list (Name is List C), slicing the List A from 3rd to the end.

In [ ]:
List_C = List_A[2:]
List_C

[4, 'hello', 'world', 1.3, 5.33]

6. Double size your List C.

In [ ]:
List_C = List_C*2
List_C

[4, 'hello', 'world', 1.3, 5.33, 4, 'hello', 'world', 1.3, 5.33]

7. Reverse your sequence of List C.

In [ ]:
List_C[::-1]

[5.33, 1.3, 'world', 'hello', 4, 5.33, 1.3, 'world', 'hello', 4]

## **4 Practice Dictionary (15 pts)**

1. Define a list A = [1, 2, 3, 5, 10, 1, 4, 10, 11, 20, 50, 100].

In [ ]:
List_A = [1, 2, 3, 5, 10, 1, 4, 10, 11, 20, 50, 100]

2. Write a loop to count the number of each unique digit into dictionary, where your
keys are digit in the list A, and value is the count corresponding to each digit.
Your result should look like :
{1: 3, 2: 1, 3: 1, 5: 1, 10: 1, 4: 1, 11: 1, 20: 1, 50: 1, 100: 1}

In [ ]:
freq = {} 
for item in List_A: 
    if (item in freq): 
        freq[item] += 1
    else: 
        freq[item] = 1
print(freq)

{1: 2, 2: 1, 3: 1, 5: 1, 10: 2, 4: 1, 11: 1, 20: 1, 50: 1, 100: 1}

## **5 Loop Condition Practice(30 pts)**

Consider a sequenced list (or inversed sequence list, you need to consider an inversed
sequence situation) and an inserted number. Define a function with two arguments, one
is the sequenced list, another one is the inserted number. Please insert the number in
the list with right place and output the new list. (Hint: you need to consider the special
situation that the inserted number is smaller or greater than all numbers) Example:
Input:
List = [1, 2 , 4 , 9 , 17 , 25 , 63 ]
InsertNum = 13
Output:
NewList = [1, 2 , 4 , 9 , 13 , 17 , 25 , 63 ]

In [15]:
def insert(old_lst, num):
    if(old_lst == sorted(old_lst, reverse=False)):
        for i in range(len(old_lst)+1):
            
            if(num > max(old_lst)):
                old_lst.append(num)
                break
                
            if(num < min(old_lst)):
                old_lst.insert(0,num)
                break
                
            elif old_lst[i] <= num and old_lst[i+1] >= num:
                old_lst.insert(i+1, num)
                break    

    if(old_lst == sorted(old_lst, reverse=True)):
        for i in range(len(old_lst)+1):
            
            if(num < min(old_lst)):
                old_lst.append(num)
                break
            if(num > max(old_lst)):
                old_lst.insert(0,num)
                break                
            elif old_lst[i] >= num and old_lst[i+1] <= num:
                old_lst.insert(i+1, num)
                break 
    return old_lst

List = [1, 2 , 4 , 9 , 17 , 25 , 63]
InsertNum = 13
lst = insert(List, InsertNum)
print(lst)

[1, 2, 4, 9, 13, 17, 25, 63]