In [4]:
#import statements
import pandas as pd
import numpy as np

In [5]:
#import Energy.xlsx to pandas dataframe
df = pd.read_excel (r'Energy.xlsx')
df.head() #check if data is imported correctly by checking dimensions

,Global Company Key,Data Date,Fiscal Year,Fiscal Quarter,Fiscal Year-end Month,Industry Format,Level of Consolidation - Company Interim Descriptor,Population Source,Data Format,Ticker Symbol,...,Implied Option EPS Basic,Implied Option EPS Basic Preliminary,Implied Option Expense,Implied Option Expense Preliminary,Research and Development Expense,"Selling, General and Administrative Expenses",Stock Exchange Code,CIK Number,Active/Inactive Status Marker,Current ISO Country Code - Incorporation
0,1380,20100331,2010,1,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,559.0,11,4447,A,USA
1,1380,20100630,2010,2,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,576.0,11,4447,A,USA
2,1380,20100930,2010,3,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,608.0,11,4447,A,USA
3,1380,20101231,2010,4,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,805.0,11,4447,A,USA
4,1380,20110331,2011,1,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,760.0,11,4447,A,USA

In [6]:
df_temp = df

df_temp['Data Date'] = df_temp['Data Date'][2:].astype(str).str[:4].astype(int) 

df_temp.head()

,Global Company Key,Data Date,Fiscal Year,Fiscal Quarter,Fiscal Year-end Month,Industry Format,Level of Consolidation - Company Interim Descriptor,Population Source,Data Format,Ticker Symbol,...,Implied Option EPS Basic,Implied Option EPS Basic Preliminary,Implied Option Expense,Implied Option Expense Preliminary,Research and Development Expense,"Selling, General and Administrative Expenses",Stock Exchange Code,CIK Number,Active/Inactive Status Marker,Current ISO Country Code - Incorporation
0,1380,NaN,2010,1,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,559.0,11,4447,A,USA
1,1380,NaN,2010,2,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,576.0,11,4447,A,USA
2,1380,2010.0,2010,3,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,608.0,11,4447,A,USA
3,1380,2010.0,2010,4,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,805.0,11,4447,A,USA
4,1380,2011.0,2011,1,12,INDL,C,D,STD,HES,...,0.0,0.0,0.0,0.0,NaN,760.0,11,4447,A,USA

In [225]:
#getting column index by column name
index_1 = df.columns.get_loc("Accumulated Other Comprehensive Income (Loss)")
index_2 = df.columns.get_loc("Selling, General and Administrative Expenses")

In [226]:
#function definition for splitEnergy
def splitEnergy(StartYear=2012,EndYear=None):
    df_temp = df
    
    #set column 'Data Date' type to string to split year and convert back to integer
    df_temp['Data Date'] = df_temp['Data Date'].astype(str).str[:4].astype(int) 
    
    #If EndYear is None, we will only choose all data with ”Data Date” == StartYear as Test data, all other data as Train data. 
    #By default, all company Data Date within 2012 will be selected as Testing data.
    if (EndYear == None): 
        TestData = df_temp[df_temp['Data Date'] == StartYear]
        TrainData = df_temp[df_temp['Data Date'] != StartYear]

        
    #If EndYear is NOT None, we will choose all data with ”Data Date” == StartYear to EndYear as Test data, all other data as Train data
    else: 
        TestData = df_temp[(df_temp['Data Date'] >= StartYear) & (df_temp['Data Date'] <= EndYear)]
        TrainData = df_temp[(df_temp['Data Date'] < StartYear) | (df_temp['Data Date'] > EndYear)]
        
    #array from column ”Accumulated Other Comprehensive Income (Loss)” to column ”Selling, General and Administrative Expenses”.
    TestData = TestData.iloc[:, index_1:index_2]
    TrainData = TrainData.iloc[:, index_1:index_2]

    #Output Data type: Array(Numpy)
    return TestData.values , TrainData.values

In [227]:
#function execution
splitEnergy(2012,2013)

(array([[-1057.,  1421.,  8212., ...,     0.,     0.,    nan],
        [ -779.,  1699.,  7925., ...,     0.,     0.,    nan],
        [ -675.,  2167.,  8157., ...,     0.,     0.,    nan],
        ...,
        [ -254.,   190., 14252., ...,     0.,    nan,    nan],
        [ -205.,   206., 13531., ...,     0.,    nan,    nan],
        [ -204.,   197., 12737., ...,     0.,    nan,    nan]]),
 array([[-1749.,  1502.,  8780., ...,     0.,     0.,    nan],
        [-1603.,  1434.,  8296., ...,     0.,     0.,    nan],
        [-1377.,   865.,  8839., ...,     0.,     0.,    nan],
        ...,
        [ -321.,   142., 10304., ...,    nan,    nan,    nan],
        [ -327.,   176.,  9545., ...,    nan,    nan,    nan],
        [ -234.,   236., 10401., ...,    nan,    nan,    nan]]))